table{
    height: auto;
    width: auto;
    border: 1px solid black;
    margin-left: 400px;
}
tr,th,td{
    padding: 10px;
    border: 1px solid black;
 
}
button{
    height: fit-content;
    width: 100px;
    color: green;
    background-color: red;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 10px;
    

}
.loading{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.head{
    text-align: center;
}